/* верстка страницы */

:root {
    --color-bgr: #282729;
    --color-ctrl: #445c99;
    --color-ctrl-hov: #dfe3e6;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-bgr);
}

input {
	display: none;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 30px;
    display: grid;
    grid-template-rows: auto 50px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'img img' 'txt dots';
    grid-row-gap: 15px;
    position: relative;
}

/* слайдер */

.memslider {
    grid-area: img;
    margin-bottom: 20px;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    overflow: hidden;
    position: relative;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: opacity ease-in-out .4s;
}

.img {
    border-radius: 1.5vw;
    width: 100%;
    height: 100%;
}

/* контролы */

.controls {
    grid-area: dots;
    min-width: 200px;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: end;
    gap: 2px;
}

label {
	cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 14px solid var(--color-bgr);
    background-color: var(--color-ctrl);
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .2s;
}

label:hover {
    background-color: var(--color-ctrl-hov);
}

/* описание */

.textbox {
    grid-area: txt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: var(--color-ctrl-hov);
    padding: 10px;
    min-width: 400px;
    position: relative;
    
}

.text {
    z-index: 0;
    opacity: 0;
    position: absolute;
    transition: opacity ease-in-out .2s;
}

/* анимация */

#t1:checked ~ .memslider > .slide1,
#t2:checked ~ .memslider > .slide2,
#t3:checked ~ .memslider > .slide3,
#t4:checked ~ .memslider > .slide4,
#t1:checked ~ .textbox > p:nth-of-type(1),
#t2:checked ~ .textbox > p:nth-of-type(2),
#t3:checked ~ .textbox > p:nth-of-type(3),
#t4:checked ~ .textbox > p:nth-of-type(4) {
    opacity: 1;
	z-index: 1;
}

#t1:checked ~ .controls label:nth-of-type(1):after,
#t2:checked ~ .controls label:nth-of-type(2):after,
#t3:checked ~ .controls label:nth-of-type(3):after,
#t4:checked ~ .controls label:nth-of-type(4):after {
	display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-bgr);
}

/* адаптивная верстка */

@media (max-width: 660px) {
    .container {
        grid-template-rows: auto auto 150px;
        grid-template-columns: 1fr;
        grid-template-areas: 'img' 'dots' 'txt';
    }
    .controls {
        height: 100%;
        justify-content: center;
    }
    .text {
        min-width: 250px;
    }
}